#mainarea {
	height: 99vh;
}

#top {
	background-color: gray;
	height: 10vh;
}

#map {
	height: 60vh;
}

#bottom {
	background-color: RGBA(64, 64, 64, 0.8);
	height: 30vh;
}

.tabletitle {
	width: 20vw;
}
.tablecell {
	width: 40vw;
	text-align: center;
}

.p1bg {
	background: maroon;
	color: white;
}
.p2bg {
	background: navy;
	color: white;
}

.ctrdisplay {
	text-align: center;
}

#cardhand>tbody>tr>*, #cardhand>tbody>tr, #cardhand>tbody {
	border: 1px solid black;
}

#cardhand>tbody>tr>* {
	height: 1vw;
	width: 12vw;
}
