#top {
	height: 10vh;
}

#map {
	height: 70vh;
}

#bottom {
	height: 20vh;
}

.tabletitle {
	width: 20vw;
}

.tablecell {
	width: 40vw;
}

.p1bg {
	background: maroon;
	color: white;
}
.p2bg {
	background: navy;
	color: white;
}

#yourteam {
	text-align: center;
	height: 2vw;
}

#cardhand>tbody>tr>*, #cardhand>tbody>tr, #cardhand>tbody {
	border: 1px solid black;
}

#cardhand>tbody>tr>* {
	height: 4vh;
	width: 12vw;
}
